
*{
    font-family: 'Radio Canada', sans-serif;

}
header{

    margin: 0;
    padding: 0;
}
nav{
    display: flex;
}

ul{
    
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    height: 50px;
}

li{
    margin: 10px;
    justify-content: space-between;
    list-style:none;
    font-weight: bolder;
    font-size: x-large;
}
.menus{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    
}

.menus li{
    padding: 10px;
}


.inicioSesion{
    right: 50%;
    
    padding: 15px;
    position: absolute;
    right: 0px;
    border-radius: 15px;
    background: rgb(238, 237, 237);
    transition: 0.3s;
}
.inicioSesion:hover{
    background: rgba(26,129,224,1);
    border-radius: 0px;
    
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}


